/* Design pagination links */
.pagination-links {
    margin: 30px 0;
}

.pagination-links strong {
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}

a.pagination-links {
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}

/*End of pagination */

.delete {
    display: inline-block;
}